.westRegion {
    background: #ffffff !important;

}
.eastRegion {
    background: #ffffff !important;
    /*background: #D8D4C9 !important;*/

}

.northRegion {
    background: #6D6D74 !important;
}

.commandBarRegion {
    /*background: #D8D4C9 !important;*/
}

.southRegion {
    background: #6d6d74 !important;
    color: white;
}

.southRegion a {
    color: #ffffff !important;
}


 .commandBarTexField{
 font-family: monospace;
     width:98%; height: 60px;
     background: #f1ece0; margin: 0px !important;
 }